<!DOCTYPE html>
<html>
<head>
    <title>Calls Report</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico') }}">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/fontawesome.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/brands.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/solid.css') }}" rel="stylesheet">
    <style>
        th, td, p, input {
            font:14px Verdana;
        }
        table, th, td 
        {
            border: solid 1px #DDD;
            border-collapse: collapse;
            padding: 2px 3px;
            text-align: center;
        }
        th {
            font-weight:bold;
        }
    </style>
</head>
<body>
    <br>
    <div class="container">
        <div class="row justify-content-left">
            <div class="input-group">
                <div class="input-group-append">
                    <button class="btn rounded btn-outline-success" type="button" id="start-stop" onclick="startStop()">Start</button>
                </div>

                <select class="custom-select" id="roomName">
                    <option selected>Please choose endpoint name...</option>
                    <option value="agentsCompact">Agents Changelog Report</option>
                    <option value="agents">Agents Status Report</option>
                    <option value="calls">Calls Report</option>
                </select>

                <div class="input-group-append">
                    <input type="text" class="form-control" placeholder="Username" id="userName">
                </div>
            </div>
        </div>

        <div class="row justify-content-center" id="addTables">

        </div>
    </div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/socketReport.js') }}"></script>
</html>