<!DOCTYPE html>
<html>
<head>
    <title>Calls Report</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico') }}">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/fontawesome.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/brands.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/solid.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='webdatarocks1.3.1/webdatarocks.min.css') }}" rel="stylesheet" />
    <style>
        th, td, p, input {
            font:14px Verdana;
        }
        table, th, td 
        {
            border: solid 1px #DDD;
            border-collapse: collapse;
            padding: 2px 3px;
            text-align: center;
        }
        th {
            font-weight:bold;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="container p-4">
                <div class="input-group">
                    <div class="input-group-append">
                        <button class="btn rounded btn-outline-warning" type="button" id="sendMessage" onclick="setPivot()">Set</button>
                    </div>
                </div>
                <div class="container p-4" id="wdr-component">
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="container p-4" id="addTables">

            </div>
        </div>
    </div>

</body>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type = "text/javascript" src="{{ url_for('static', filename='webdatarocks1.3.1/webdatarocks.toolbar.min.js') }}"></script>
    <script type = "text/javascript" src="{{ url_for('static', filename='webdatarocks1.3.1/webdatarocks.js') }}"></script>
    <script src="{{ url_for('static', filename='js/socketReport.js') }}"></script>
</html>